<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find custom_robot)/urdf/car.xacro'" />
    <arg name="world" default="$(find custom_robot)/worlds/custom_world.world"/>
    <arg name="open_rviz" default="true" />
    

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
      </include>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
      
    <group if="$(arg open_rviz)">
      <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find custom_robot)/rviz/cfg.rviz" />
    </group>
    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


  <node name = "sonic" pkg = "custom_robot" type = "sonic.py"  output="screen" />
   
</launch>